<%= form_for(@win) do |f| %>
  <% if @win.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@win.errors.count, "error") %> prohibited this win from being saved:</h2>

      <ul>
      <% @win.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entrant_id %><br />
    <%= f.number_field :entrant_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :prize_id %><br />
    <%= f.number_field :prize_id %>
  </div>
  <div class="field">
    <%= f.label :for_year %><br />
    <%= f.text_field :for_year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
