<h1>Listing wins</h1>

<table>
  <tr>
    <th>Entrant</th>
    <th>Category</th>
    <th>Prize</th>
    <th>For year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wins.each do |win| %>
  <tr>
    <td><%= win.entrant_id %></td>
    <td><%= win.category_id %></td>
    <td><%= win.prize_id %></td>
    <td><%= win.for_year %></td>
    <td><%= link_to 'Show', win %></td>
    <td><%= link_to 'Edit', edit_win_path(win) %></td>
    <td><%= link_to 'Destroy', win, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Win', new_win_path %>
