<p id="notice"><%= notice %></p>

<p>
  <b>Entrant:</b>
  <%= @win.entrant_id %>
</p>

<p>
  <b>Category:</b>
  <%= @win.category_id %>
</p>

<p>
  <b>Prize:</b>
  <%= @win.prize_id %>
</p>

<p>
  <b>For year:</b>
  <%= @win.for_year %>
</p>


<%= link_to 'Edit', edit_win_path(@win) %> |
<%= link_to 'Back', wins_path %>
