%h2
  Entrants

.well{ :class => 'well-small' }
  = link_to "New Entrant", new_entrant_path, :class => 'btn btn-primary'

%ul{ :class => "nav nav-pills" }

  %li{ :class => "#{'active' if params[:show_all].nil?}" }
    = link_to "2012", entrants_path

  %li{ :class => "#{'active' if params[:show_all] == 'true'}" }
    = link_to "All", entrants_path({ :show_all => "true" })

%table{ :class => 'table table-condensed table-striped table-bordered table-clickable' }
  %tr
    %th ID
    %th First
    %th Middle
    %th Last
    %th Address
    %th City
    %th Phone

  - @entrants.each do |entrant|
    %tr{ :onclick => "location.href='#{ edit_entrant_path(entrant) }'" }
      %td
        = entrant.id
      %td
        = entrant.name_first
      %td
        = entrant.name_middle
      %td
        = entrant.name_last
      %td
        = entrant.address_line_1
      %td
        = entrant.address_city
      %td
        = entrant.phone_primary
