<p id="notice"><%= notice %></p>

<p>
  <b>Name first:</b>
  <%= @entrant.name_first %>
</p>

<p>
  <b>Name middle:</b>
  <%= @entrant.name_middle %>
</p>

<p>
  <b>Name last:</b>
  <%= @entrant.name_last %>
</p>

<p>
  <b>Address line 1:</b>
  <%= @entrant.address_line_1 %>
</p>

<p>
  <b>Address line 2:</b>
  <%= @entrant.address_line_2 %>
</p>

<p>
  <b>Address city:</b>
  <%= @entrant.address_city %>
</p>

<p>
  <b>Address state:</b>
  <%= @entrant.address_state %>
</p>

<p>
  <b>Address zip code:</b>
  <%= @entrant.address_zip_code %>
</p>

<p>
  <b>Phone primary:</b>
  <%= @entrant.phone_primary %>
</p>

<p>
  <b>Phone alternate:</b>
  <%= @entrant.phone_alternate %>
</p>

<p>
  <b>Email address:</b>
  <%= @entrant.email_address %>
</p>

<p>
  <b>For year:</b>
  <%= @entrant.for_year %>
</p>


<%= link_to 'Edit', edit_entrant_path(@entrant) %> |
<%= link_to 'Back', entrants_path %>
