%h2
  Categories

.well{ :class => 'well-small' }
  = link_to "New Category", new_category_path, :class => 'btn btn-primary'

%table{ :class => 'table table-condensed table-striped table-bordered table-clickable' }
  %tr
    %th Name
    %th Number
    %th Department

  - @categories.each do |category|
    %tr{ :onclick => "location.href='#{ edit_category_path(category) }'" }
      %td
        = category.name
      %td
        = category.number
      %td
        = category.department.name
