%h2
  Reports

%br/
%br/
%br/

.row
  .span6
    %h4 Download Checks

    %hr/

    = form_tag(url_for(:action => :download_checks), :method => :post, :class => 'form-horizontal') do

      .control-group
        = label_tag :cash_by, "Cash By (written date)", :class => 'control-label'
        .controls
          = text_field_tag :cash_by

      .control-group
        = label_tag :starting_number, "Check Number", :class => 'control-label'
        .controls
          = text_field_tag :starting_number

      .form-actions
        = submit_tag "Download Checks", :class => 'btn btn-primary'

  .span1

  .span5
    %h4 Statistics

    %hr/

    - total = Money.new(0)
    - Win.all.each do |w|
      - total += w.prize.amount
    
    %table{ :class => "table table-striped table-condensed table-bordered" }
      %tr
        %td{ :class => 'span2', :style => 'text-align: center;' }
          = "$#{total}"
        %td
          given in wins

      %tr
        %td{ :style => 'text-align: center;' }
          = Win.all.count
        %td
          wins this year

      %tr
        %td{ :style => 'text-align: center;' }
          = Entrant.where(:for_year => 2012).count
        %td
          total entrants
